<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.babysitter.mapper.BabysitterChatRoomMapper">

    <select id="selectByMembers" resultType="com.backend.babysitter.domain.BabysitterChatRoom">
        SELECT room_no, parent_email, sitter_email, reg_time
        FROM tbl_babysitter_chat_room
        WHERE parent_email = #{parentEmail} AND sitter_email = #{sitterEmail}
    </select>

    <select id="selectListByMember" resultType="com.backend.babysitter.domain.BabysitterChatRoom">
        SELECT room_no, parent_email, sitter_email, reg_time
        FROM tbl_babysitter_chat_room
        WHERE parent_email = #{memberEmail} OR sitter_email = #{memberEmail}
        ORDER BY reg_time DESC
    </select>

    <select id="selectOne" resultType="com.backend.babysitter.domain.BabysitterChatRoom">
        SELECT room_no, parent_email, sitter_email, reg_time
        FROM tbl_babysitter_chat_room
        WHERE room_no = #{roomNo}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="roomNo" keyColumn="room_no">
        INSERT INTO tbl_babysitter_chat_room (parent_email, sitter_email)
        VALUES (#{parentEmail}, #{sitterEmail})
    </insert>

</mapper>
