<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.diary.mapper.BabyDiaryMapper">

    <select id="selectList" resultType="com.backend.diary.domain.BabyDiary">
        SELECT bd.diary_no, bd.baby_no, bd.diary_date, bd.photo_file_name, bd.content, bd.reg_time, bd.mod_time
        FROM tbl_baby_diary bd
        JOIN tbl_baby_info bi ON bd.baby_no = bi.baby_no
        WHERE bd.baby_no = #{babyNo} AND bi.email = #{email}
        ORDER BY bd.diary_date DESC, bd.diary_no DESC
        LIMIT #{size} OFFSET #{skip}
    </select>

    <select id="selectListCount" resultType="long">
        SELECT COUNT(*)
        FROM tbl_baby_diary bd
        JOIN tbl_baby_info bi ON bd.baby_no = bi.baby_no
        WHERE bd.baby_no = #{babyNo} AND bi.email = #{email}
    </select>

    <select id="selectByDiaryNo" resultType="com.backend.diary.domain.BabyDiary">
        SELECT bd.diary_no, bd.baby_no, bd.diary_date, bd.photo_file_name, bd.content, bd.reg_time, bd.mod_time
        FROM tbl_baby_diary bd
        JOIN tbl_baby_info bi ON bd.baby_no = bi.baby_no
        WHERE bd.diary_no = #{diaryNo} AND bi.email = #{email}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="diaryNo" keyColumn="diary_no">
        INSERT INTO tbl_baby_diary (baby_no, diary_date, photo_file_name, content)
        VALUES (#{babyNo}, #{diaryDate}, #{photoFileName}, #{content})
    </insert>

    <update id="update">
        UPDATE tbl_baby_diary
        SET content = #{diary.content},
        photo_file_name = #{diary.photoFileName}
        WHERE diary_no = #{diary.diaryNo}
        AND baby_no IN (SELECT baby_no FROM tbl_baby_info WHERE email = #{email})
    </update>

    <delete id="delete">
        DELETE FROM tbl_baby_diary
        WHERE diary_no = #{diaryNo}
        AND baby_no IN (SELECT baby_no FROM tbl_baby_info WHERE email = #{email})
    </delete>

    <delete id="deleteByBabyNo">
        DELETE FROM tbl_baby_diary
        WHERE baby_no = #{babyNo}
        AND baby_no IN (SELECT baby_no FROM tbl_baby_info WHERE email = #{email})
    </delete>

</mapper>

