<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.babyInfo.mapper.BabyInfoMapper">

    <select id="selectList" resultType="com.backend.babyInfo.domain.BabyInfo">
        SELECT baby_no, email, baby_name, birth_date, gender, profile_image_file_name,
        blood_type, birth_week_count, birth_weight, birth_height, head_circumference, reg_time, mod_time
        FROM tbl_baby_info WHERE email = #{email}
    </select>

    <select id="selectByBabyNo" resultType="com.backend.babyInfo.domain.BabyInfo">
        SELECT baby_no, email, baby_name, birth_date, gender, profile_image_file_name,
        blood_type, birth_week_count, birth_weight, birth_height, head_circumference, reg_time, mod_time
        FROM tbl_baby_info WHERE baby_no = #{babyNo} AND email = #{email}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="babyInfo.babyNo" keyColumn="baby_no">
        INSERT INTO tbl_baby_info (email, baby_name, birth_date, gender, profile_image_file_name,
        blood_type, birth_week_count, birth_weight, birth_height, head_circumference)
        VALUES (#{email}, #{babyInfo.babyName}, #{babyInfo.birthDate}, #{babyInfo.gender},
        #{babyInfo.profileImageFileName}, #{babyInfo.bloodType}, #{babyInfo.birthWeekCount},
        #{babyInfo.birthWeight}, #{babyInfo.birthHeight}, #{babyInfo.headCircumference})
    </insert>

    <update id="update">
        UPDATE tbl_baby_info
        SET baby_name = #{babyInfo.babyName},
        birth_date = #{babyInfo.birthDate},
        gender = #{babyInfo.gender},
        profile_image_file_name = #{babyInfo.profileImageFileName},
        blood_type = #{babyInfo.bloodType},
        birth_week_count = #{babyInfo.birthWeekCount},
        birth_weight = #{babyInfo.birthWeight},
        birth_height = #{babyInfo.birthHeight},
        head_circumference = #{babyInfo.headCircumference}
        WHERE baby_no = #{babyInfo.babyNo} AND email = #{email}
    </update>

    <delete id="delete">
        DELETE FROM tbl_baby_info
        WHERE baby_no = #{babyNo} AND email = #{email}
    </delete>

</mapper>