<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.babyInfo.mapper.BabyInfoMapper">

    <select id="selectList" resultType="com.backend.babyInfo.domain.BabyInfo">
        SELECT baby_no, email, baby_name, birth_date, gender, profile_image_file_name,
        blood_type, birth_week_count, birth_weight, birth_height, head_circumference, reg_time, mod_time
        FROM tbl_baby_info WHERE email = #{email}
    </select>

    <select id="selectByBabyNo" resultType="com.backend.babyInfo.domain.BabyInfo">
        SELECT baby_no, email, baby_name, birth_date, gender, profile_image_file_name,
        blood_type, birth_week_count, birth_weight, birth_height, head_circumference, reg_time, mod_time
        FROM tbl_baby_info WHERE baby_no = #{babyNo} AND email = #{email}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="babyInfo.babyNo" keyColumn="baby_no">
        INSERT INTO tbl_baby_info (email, baby_name, birth_date, gender, profile_image_file_name,
        blood_type, birth_week_count, birth_weight, birth_height, head_circumference)
        VALUES (#{email}, #{babyInfo.babyName}, #{babyInfo.birthDate}, #{babyInfo.gender},
        #{babyInfo.profileImageFileName}, #{babyInfo.bloodType}, #{babyInfo.birthWeekCount},
        #{babyInfo.birthWeight}, #{babyInfo.birthHeight}, #{babyInfo.headCircumference})
    </insert>

    <update id="update">
        UPDATE tbl_baby_info
        SET baby_name = #{babyInfo.babyName},
        birth_date = #{babyInfo.birthDate},
        gender = #{babyInfo.gender},
        profile_image_file_name = #{babyInfo.profileImageFileName},
        blood_type = #{babyInfo.bloodType},
        birth_week_count = #{babyInfo.birthWeekCount},
        birth_weight = #{babyInfo.birthWeight},
        birth_height = #{babyInfo.birthHeight},
        head_circumference = #{babyInfo.headCircumference}
        WHERE baby_no = #{babyInfo.babyNo} AND email = #{email}
    </update>

    <delete id="delete">
        DELETE FROM tbl_baby_info
        WHERE baby_no = #{babyNo} AND email = #{email}
    </delete>

    <!-- 추가 시작 - babyNo로 연결된 18개 테이블을 한 번의 멀티테이블 DELETE로 캐스케이드 삭제 -->
    <delete id="deleteCascade">
        DELETE bi, bg, bv, bs, bd, ba, po, poi,
               bc, bcs, bcm, bcsrc,
               cta, ac, rr, sc, skc, cc
        FROM tbl_baby_info bi
        LEFT JOIN tbl_baby_grow_info bg ON bg.baby_no = bi.baby_no
        LEFT JOIN tbl_baby_vaccination bv ON bv.baby_no = bi.baby_no
        LEFT JOIN tbl_baby_sleep bs ON bs.baby_no = bi.baby_no
        LEFT JOIN tbl_baby_diary bd ON bd.baby_no = bi.baby_no
        LEFT JOIN tbl_baby_album ba ON ba.baby_no = bi.baby_no
        LEFT JOIN tbl_print_order po ON po.baby_no = bi.baby_no
        LEFT JOIN tbl_print_order_item poi ON poi.order_no = po.order_no
        LEFT JOIN tbl_baby_behavior_consult bc ON bc.baby_no = bi.baby_no
        LEFT JOIN tbl_baby_behavior_step bcs ON bcs.consult_no = bc.consult_no
        LEFT JOIN tbl_baby_behavior_message bcm ON bcm.consult_no = bc.consult_no
        LEFT JOIN tbl_baby_behavior_source bcsrc ON bcsrc.consult_no = bc.consult_no
        LEFT JOIN tbl_baby_custom_allergy cta ON cta.babyNo = bi.baby_no
        LEFT JOIN tbl_baby_allergy_check ac ON ac.babyNo = bi.baby_no
        LEFT JOIN tbl_recipe_recommend rr ON rr.checkNo = ac.checkNo
        LEFT JOIN tbl_baby_stool_check sc ON sc.babyNo = bi.baby_no
        LEFT JOIN tbl_baby_skin_check skc ON skc.babyNo = bi.baby_no
        LEFT JOIN tbl_cry_check cc ON cc.baby_no = bi.baby_no
        WHERE bi.baby_no = #{babyNo} AND bi.email = #{email}
    </delete>
    <!-- 추가 끝 -->

</mapper>