<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.babysitter.mapper.BabysitterParentLocationMapper">

    <select id="selectByEmail" resultType="com.backend.babysitter.domain.BabysitterParentLocation">
        SELECT email, region
        FROM tbl_babysitter_parent_location
        WHERE email = #{email}
    </select>

    <insert id="insert">
        INSERT INTO tbl_babysitter_parent_location (email, region)
        VALUES (#{email}, #{region})
    </insert>

    <update id="update">
        UPDATE tbl_babysitter_parent_location
        SET region = #{region}
        WHERE email = #{email}
    </update>

</mapper>
