<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.CartMapper">

    <resultMap id="cartResultMap" type="com.backend.domain.Cart">
        <id property="cno" column="cno"/>
        <association property="owner" javaType="com.backend.auth.domain.Member">
            <id property="email" column="member_owner"/>
        </association>
    </resultMap>

    <select id="selectByEmail" resultMap="cartResultMap">
        SELECT cno, member_owner
        FROM tbl_cart
        WHERE member_owner = #{email}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="cno" keyColumn="cno">
        INSERT INTO tbl_cart (member_owner)
        VALUES (#{owner.email})
    </insert>

</mapper>
